extends layout

block content
    h1= title
    h3 API Calls:
    br
    strong Euro
    h5 &emsp;endpoint: /euro
    h5 &emsp;method: POST
    h5 &emsp;input: {"dollars": dollars}
    p &emsp;&emsp;dollars: The USD amount to be converted to Euros.
    h5 &emsp;output: {"dollars": dollars, "value": value, "currency": "Euro"}
    p &emsp;&emsp;dollars: The USD amount converted to Euros.
    p &emsp;&emsp;value: The value in Euros for given dollars.
    p &emsp;&emsp;currency: The requested currency type of Euro.
    br
    strong Pound
    h5 &emsp;method: /pound
    h5 &emsp;method: POST
    h5 &emsp;input: {"dollars": dollars}
    p &emsp;&emsp;dollars: The USD amount to be converted to Pounds.
    h5 &emsp;output: {"dollars": dollars, "value": value, "currency": "Pound"}
    p &emsp;&emsp;dollars: The USD amount converted to Pounds.
    p &emsp;&emsp;value: The value in Pounds for given dollars.
    p &emsp;&emsp;currency: The requested currency type of Pound.
    br
    strong Pop
    h5 &emsp;method: /pop
    h5 &emsp;method: GET
    h5 &emsp;output: {"pop": {"dollars": dollars, "value": value, "currency": currency, "ip": ip, "agent": agent}}
    p &emsp;&emsp;pop: The popped last entry from the history stack.
    p &emsp;&emsp;&emsp;dollars: The USD amount converted.
    p &emsp;&emsp;&emsp;value: The value in Euros or Pounds for given dollars.
    p &emsp;&emsp;&emsp;currency: The requested currency type.
    p &emsp;&emsp;&emsp;ip: The source's ip address.
    p &emsp;&emsp;&emsp;agent: The source's user-agent request header.
    br
    strong Reset
    h5 &emsp;method: /reset
    h5 &emsp;method: GET
    h5 &emsp;output: {"reset": reset}
    p &emsp;&emsp;reset: boolean indicating success or failure of history reset request.
    br
    strong History
    h5 &emsp;method: /history
    h5 &emsp;method: GET
    h5 &emsp;output: {"history": [history]}
    p &emsp;&emsp;history: {"dollars": dollars, "value": value, "currency": currency, "ip": ip, "agent": agent}
    p &emsp;&emsp;&emsp;dollars: The USD amount converted.
    p &emsp;&emsp;&emsp;value: The value in Euros or Pounds for given dollars.
    p &emsp;&emsp;&emsp;currency: The requested currency type.
    p &emsp;&emsp;&emsp;ip: The source's ip address.
    p &emsp;&emsp;&emsp;agent: The source's user-agent request header.