extends layout

block content
  h1 Welcome
  form(method='POST' action='/' name='login' id='login')
    input(type='text' name='username' placeholder='Username')
    input(type='submit' value='Match')
  form(method='POST' action='/' name='admin_login' id='admin_login')
    input(type='submit' value='Admin Login')