extends layout

block content
    h1 #{title}
    form(method='POST' action = '/manage_survey' name = 'manage' id = 'manage')
        input(type = 'text' name = 'question' placeholder = 'Enter new question')
        br
        br
        while numOptions != 0
            input(type = 'text' name = 'option' defaultValue='69' placeholder = 'Enter options')
            br
            - numOptions--
        input(type = 'submit' name = 'add' value = 'Add Option')
        input(type = 'submit' name = 'remove' value = 'Remove Option')
        br
        input(type = 'submit' name = 'question' value = 'Add Question')
        br
        br
    form(method = 'POST' action = '/' name = 'home' id = 'home')
        input(type = 'submit' name = 'home' value = 'Logout')