extends layout

block content
    h1 #{title}
    each value, index in matchStrength
        each val, key in matches
            if val == size - index
                ul
                    li #{key} (#{value}% match)
    form(method = 'POST' action = '/' name = 'home' id = 'home')
        input(type = 'submit' name = 'home' value = 'Go Home')